*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
}

.container{
    max-width: 1100px;
    margin: 30px auto;
    background: #f4f4f4;
}

.item-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: 1fr 2fr 3fr;
    grid-auto-rows: 4fr;
}

.item{
    background-color: coral;
    padding: 1rem;
    border: 1px solid #333;
    text-align: center;
}