*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: "Poppins", sans-serif;
    background-color: #a81313;
}

.container{
    margin: 100px auto;
    width: 700px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn{
    padding: 10px 20px;
    background-color: #DA3C47;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content h1{
    font-size: 24px;
    margin-bottom: 20px;
}

.content p{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.card-image img{
    width: 250px;
    padding: 20px;
}

.sporty{
    color: #DA3C47;
}
.casual{
    color: #007BFF;
}
.formal{
    color: #44251A;
}

.btn-cas{
    background-color: #007BFF;
}

.btn-for{
    background-color: #44251A;
}