*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 200px;
    background: #E9E9E9;
}

.gallery-title{
    text-align: center;
    padding: 20px 0;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-item-1{
    grid-row: span 2;
}

.gallery-item-2{
    grid-column: span 2;
}

.gallery-item-4{
    grid-row: span 2;
}