*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.container{
    width: 400px;
    margin: 100px auto;
}

.card{
    background-color: #373f4d;
    color: #fff;
    border-radius: 10px;
    padding: 60px 50px;
    text-align: center;
}

.card h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}
.card p{
    font-size: 15px;
    margin-bottom: 30px;
}

.form-group{
    margin-bottom: 20px;
}

.form-group input[type="text"]{
    font-size: large;
    width: 100%;
    padding: 10px;
    border: none;
}

.card button{
    width: 100%;
    background: linear-gradient(90deg, rgba(253, 98, 48, 1) 73%, rgba(253, 98, 48, 1) 86%);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: large;
    cursor: pointer;
} 

.card button:hover{
    background: linear-gradient(90deg, rgb(238, 67, 10) 100%, rgb(240, 77, 22) 100%);
}