*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animation-speed:2s;

}


html,
body{
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    color: #fff;

    h1{
        font-size: 4rem;
        line-height: 1.2;
        animation-range: 2rem;
    }

    p{
        font-size: 1.3rem;
    }
}

#page-1{
    background: var(--page-1-color);
    
}
#page-2{
    background: var(--page-2-color);
    
}
#page-3{
    background: var(--page-3-color);
    
}
#page-4{
    background: var(--page-4-color);
    
}

.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: all 0.5 ease-in;
    margin-top: 3rem;

    &:hover{
        background-color: #333;
        color: #fff;
    }
}

.btn-dark{
    background-color: #333;
    color: #f4f4f4;

    &:hover{
        background-color: #f4f4f4;
        color: #333;
    }
}