*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333;
}

a:hover{
    color: coral;
}

h2{
    margin-bottom: 20px;
}

.header{
    font-size: 40px;
    background-color: coral;
}

.main-menu{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.main-menu a{
    font-size: 20px;
}

.main{
    display: flex;
    gap: 70px;
    padding: 50px;
}

.main section{
    flex: 1;
}

.main aside{
    width: 300px;
}

.main aside h3{
    padding: 10px;
    background-color: coral;
    color: #fff;
}

.main aside li{
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid coral;
}

.main aside li:hover{
    background-color: #fff;
}

@media (max-width: 768px){
 .header{
    padding: 20px;
 }

 .header h1{
    font-size: 1.5rem;
    text-align: center;
 }

 .main-menu{ 
    flex-direction: column;
    text-align: center;
 }

 .main-menu li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
 }

 .main-menu li.last-item{
    border-bottom: none;
 }

 .main{
    flex-direction: column-reverse;
 }

 .main aside{
    width: 100%;
 }
}