body{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

header{
    background-color: #5e175b;
    color: white;
}

h1{
    font-size: 40px;
    text-indent: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style-type: none;
    padding: 0;
}

.main-menu{
    background-color: #f4f4f4;
    text-transform: uppercase;
    text-indent: 10px;
}

.lead-para{
    font-size: 20px;
    font-weight: bold;
    color: rebeccapurple;
}